<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <li><a href="/"></a></li>
        <li><a href="/views/leaderboard.ejs">Leaderboard</a></li>
        <li><a href="/views/quiz.ejs">Quiz</a></li>
        <li><a href="/views/support.ejs">Support</a></li>
        <li><a href="/views/login.ejs">login</a></li>

    </ul>
    <h1>Bookstore Website</h1>
    <p>welcome to Bookstorewebsite,a book lovers point</p>
</body>
</html>