<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Help and support page</h1>
    <div>
        <h2>Frequently asked questions ?</h2>

        <p>Can we get discounts??</p>
        <p>yes you can</p>

        <p></p>
        

        <textarea name="message" id="message" placeholder="enter you message"></textarea>
    </div>

</body>
</html>